/*
* Main page style
*/

#main-page .ui-body-c {
	font-family: 'Ubuntu','microsoft yahei', sans-serif;
	/*padding-top: 35px;*/
}
h2.page-title {
	text-align: left;
	margin: 0 auto 1.2em;
	opacity: .5;
}

/*
* Menu page style - left panel
*/

#main-page #left-panel.ui-panel {
	width: 15em;
}
#main-page #left-panel.ui-panel-closed {
	width: 0;
}
#main-page .ui-panel-position-left.ui-panel-display-reveal {
	left: 0;
}
#main-page .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
	left: 15em;
	right: -15em;
}
#main-page .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, #main-page .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(15em,0,0);
	   -moz-transform: translate3d(15em,0,0);
			transform: translate3d(15em,0,0);
}

#left-panel .ui-li-divider { padding: .7em 40px .7em 15px; font-size: 16px; }

/* Reveal menu shadow on top of the list items */
#main-page .ui-panel-display-reveal {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
#main-page .ui-panel-content-wrap-position-left {
	-webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
			box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

/*
* Footer
*/
.ui-footer .ui-btn-inner {
	font-size: 16px;
}

/*
* Form User: Login, Register
*/
.form-user {
  max-width: 400px;
  padding: 1em 1.6em .8em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 9px;
	 -moz-border-radius: 9px;
		  border-radius: 9px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  overflow: hidden;
}
.form-user .ui-block-a,
.form-user .ui-block-b {
	width: -webkit-calc(50% - .25em);
	width:    -moz-calc(50% - .25em);
	width:         calc(50% - .25em);
	margin: -.5em auto auto;
	display: block;
}
.form-user .ui-block-a {
	margin-right: .25em;
}
.form-user .ui-block-b {
	margin-left: .25em;
}

/*
* Table List: Client list, Card list...
*/
.table-list th,
.table-list td {
	vertical-align: middle;
}
.table-list thead th,
.table-list tbody th .ui-table-cell-label,
.table-list tbody td .ui-table-cell-label {
	text-transform: uppercase;
	font-size: .7em;
	color: rgba(0,0,0,0.5);
	font-weight: normal;
}
.table-list tbody th {
	font-size: 1.2em;
	background-color: #fff;
	color: #77bbff;
	text-align: center;
}
.table-list tbody td.title {
	padding-left: .8em;
}
@media (max-width: 40em) {
	.table-list tbody th {
		margin-top: 0;
		text-align: left;
	}
	.table-list tbody th,
	.table-list tbody td.title {
		display: block;
		font-size: 1.2em;
		line-height: 110%;
		padding: .5em .5em;
		background-color: #fff;
		color: #77bbff;
		-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
		   -moz-box-shadow: 0 1px 6px rgba(0,0,0,.1);
		        box-shadow: 0 1px 6px rgba(0,0,0,.1);
	}
	.table-list tbody th .ui-table-cell-label,
	.table-list tbody td.title .ui-table-cell-label {
		display: none;
	}
	.table-list tbody td.title {
		margin-top: -2.1em;
		padding-left: 2.2em;
		border-bottom: 1px solid rgba(0,0,0,.15);
	}
	.table-list th,
	.table-list td {
		font-weight: bold;
	}
	.table-list td .ui-table-cell-label,
	.table-list th .ui-table-cell-label {
		min-width: 20%;
	}
}
@media ( min-width: 40em ) {
	.table-list td,
	.table-list th,
	.table-list tbody th,
	.table-list tbody td,
	.table-list thead td,
	.table-list thead th {
		display: table-cell;
		margin: 0;
	}
	.table-list td .ui-table-cell-label,
	.table-list th .ui-table-cell-label {
		display: none;
	}
}
@media ( min-width: 50em ) {
	.table-list td.op {
		width: 35%
	}
}
@media ( max-width: 40em ) {
	.table-list td,
	.table-list th {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
	}
}

#main-page .ui-table-columntoggle-btn {
	margin-bottom: -50px;
}
#back {
	float: left;
	margin: 10px auto;
}
#operate {
	float: right;
	margin: 10px auto;
}


/*
* Person edit form
*/
#edit-person {

}
#edit-person div.ui-input-text {
	width: -moz-calc(70% - .7em);
	width: -webkit-calc(70% - .7em);
	width: calc(70% - .7em);
	display: inline-block;
	margin: 0;
	margin-left: .7em
}
#edit-person .ui-controlgroup {
	display: inline-block;
	margin: 0 .7em;
}
#edit-person .ui-block-a,
#edit-person .ui-block-b,
#edit-person .ui-block-c {
	width: 33.3%;
	height: 3.5em;
	padding: .5em 0;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
#edit-person > div:last-child,
#edit-person > div:nth-last-child(2) {
	width: 50%;
}
@media all and (max-width: 48em) {
	#edit-person .ui-block-a,
	#edit-person .ui-block-b,
	#edit-person .ui-block-c {
		width: 50%;
	}
	#edit-person > div:last-child {
		width: 100%;
	}
}
@media all and (max-width: 40em) {
	#edit-person .ui-block-a,
	#edit-person .ui-block-b,
	#edit-person .ui-block-c {
		width: 50%;
	}
	#edit-person > div:last-child {
		width: 100%;
	}
}
/*
* New Card
*/
#edit-card th {
	vertical-align: middle;
}
#edit-card .ui-grid-b > div > div {
	width: 60%;
	display: inline-block;
	margin: 0px;
}
#selectClient .ui-listview-inset {
	margin-top: 1em;
}
@media all and (max-width: 40em) {
	#edit-card tr:first-child span {
		display: none;
	}
}

/*
*  Index Home
*/

/* Basic styles */
.index-grid .ui-body {
	text-align: left;
	border-color: #ddd;
}
.index-grid p {
	color: #333;
	line-height: 140%;
}
.index-grid span {
	color: #44e;
	font-size: .8em;
}
.index-grid .usage {
	width: 10em;
	padding: .5em;
	margin: .5em;
	text-align: center;
	font-weight: bold;
	background-image: -webkit-linear-gradient(left,#ddd,#ccc);
	background-repeat: repeat-y;
}
/* Stack all blocks to start */
.index-grid .ui-block-a,
.index-grid .ui-block-b,
.index-grid .ui-block-c,
.index-grid .ui-block-d {
	width: 100%;
	float: none;
}
/* Collapsing borders */
.index-grid > div + div .ui-body {
	border-top-width: 0;
}
/* 1st breakpoint - Float B and C, leave A full width on top */
@media all and (min-width: 42em) {
	.index-grid {
		overflow: hidden;
	}
	.index-grid .ui-body {
		min-height: 14em;
	}
	.index-grid .ui-block-c,
	.index-grid .ui-block-d {
		float: left;
		width: 50%;
	}

	.index-grid > div:last-child .ui-body {
		border-left-width: 0;
	}
}
/* 2nd breakpoint - Float all, 50/25/25 */
@media all and (min-width: 55em) {
	.index-grid .ui-body {
		min-height: 16em;
	}
	.index-grid .ui-block-b {
		float: left;
		width: 50%;
	}
	.index-grid .ui-block-c,
	.index-grid .ui-block-d {
		width: 25%;
	}
	.index-grid > div + div + div .ui-body {
		border-left-width: 0;
	}
}
/*
*  Grid: Team Activity
*/
.th-groups th {
	font-size: 1.1em;
	background-color: rgba(0,0,0,.07);
	border-right: 1px solid #fff;
}
.team-activity th,
.team-activity td {
	text-align: center;
	vertical-align: middle;
}

/* Style the column `name` in a dark bar */
.team-activity tbody th,
.table-stripe tbody tr:nth-child(odd) th {
	color: #fff;
	background-color: #555;
	font-size: 1.2em;
	padding: .3em .6em .3em .6em;
	-webkit-text-shadow: none;
	   -moz-text-shadow: none;
			text-shadow: none;
}
/* Hide the label of column `name` */
.team-activity th:first-child .ui-table-cell-label {
	display: none;
}
.team-activity td .ui-table-cell-label {
	text-align: left;
	width: 45%;
}
/* Make the grouped header labels green */
.ui-table-reflow th .ui-table-cell-label-top,
.ui-table-reflow td .ui-table-cell-label-top {
	font-weight: bold;
	color: #319B47;
	font-size: 1.1em;
	width: 100%;
	text-align: center;
}

@media all and (min-width: 48em) {
	.team-activity td,
	.team-activity th,
	.team-activity tbody th,
	.team-activity tbody td,
	.team-activity thead td,
	.team-activity thead th {
		display: table-cell;
		margin: 0;
	}
	.team-activity tbody tr th:nth-child(odd) {
		color: #497BAE;
		background-color: #fff;
		font-size: 1.1em;
		border-bottom: 1px solid rgba(0,0,0,.05);
	}
	.team-activity td .ui-table-cell-label,
	.team-activity th .ui-table-cell-label {
		display: none;
	}
}