    <div data-role="panel" id="left-panel" data-theme="c">
      <ul data-role="listview">
          <li data-role="list-divider">菜单</li>
          <li data-icon="home"><a href="/home">首页</a></li>
          <li data-icon="edit"><a href="/self/show">个人信息</a></li>
        </ul> 
        <div data-role="collapsible-set" data-inset="false" data-theme="b" data-iconpos="right" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
          <div data-role="collapsible">
            <h3>客户</h3>
            <ul data-role="listview">
              <li data-icon="bars"><a href="/client/list">客户名单</a></li>
              <li data-icon="plus"><a href="/client/add">新增客户</a></li>
              <li data-icon="search"><a href="/client/search">客户搜索</a></li>
            </ul>
          </div><!-- /collapsible -->
          <div data-role="collapsible">
            <h3>卡片</h3>
            <ul data-role="listview">
              <li data-icon="bars"><a href="/card/list">卡片列表</a></li>
              <li data-icon="search"><a href="#">卡片搜索</a></li>
            </ul>
          </div><!-- /collapsible -->
          <div data-role="collapsible">
            <h3>日志</h3>
            <ul data-role="listview">
              <li><a href="#">操作日志</a></li>
              <li><a href="#">删除日志</a></li>
            </ul>
          </div><!-- /collapsible -->
        </div><!-- /collapsible-set -->
        <ul data-role="listview">
          <li data-icon="gear"><a href="#">系统设置</a></li>
          <li data-icon="back"><a href="/user/logout">安全退出</a></li>
        </ul> 
    </div><!-- /panel -->