	<form method="post">
	<h2 class="page-title">{{ @pageTitle }}</h2>
	<div id="edit-person">
		<div class="ui-block-a"><lable>姓名：</lable><input type="text" name="name" id="name" placeholder="姓名" value="{{ @person.name }}"></div>
		<div class="ui-block-b">性别：
			<fieldset data-role="controlgroup" data-type="horizontal">
				<input type="radio" name="gender" id="gender-1" value="1"<check if="{{ isset(@person.gender)&& @person.gender==1}}"> checked="checked"</check>>
				<label for="gender-1">男</label>
				<input type="radio" name="gender" id="gender-2" value="0"<check if="{{ isset(@person.gender)&& @person.gender==0}}"> checked="checked"</check>>
				<label for="gender-2">女</label>
			</fieldset>
		</div>
		<div class="ui-block-c">生日：<input type="date" name="birthday" id="birthday" value="{{ @person.birthday }}"></div>
		<div class="ui-block-a">邮箱：<input type="email" name="email" placeholder="邮箱" value="{{ @person.email }}"></div>
		<div class="ui-block-b">手机：<input type="tel" name="mobile" placeholder="手机" value="{{ @person.mobile }}"></div>
		<div class="ui-block-c">办公：<input type="text" name="workphone" placeholder="办公电话" value="{{ @person.workphone }}"></div>
		<div class="ui-block-a">公司：<input type="text" name="company" placeholder="公司" value="{{ @person.company }}"></div>
		<div class="ui-block-b">职位：<input type="text" name="position" placeholder="职位" value="{{ @person.position }}"></div>
		<div class="ui-block-c">年收入：<input type="text" name="income" placeholder="年收入" value="{{ @person.income }}"></div>
		<div class="ui-block-a">地址：<input type="text" name="address" id="address" placeholder="地址" value="{{ @person.address }}"></div>
		<div class="ui-block-b"></div>
	</div>
	<div id="back">
		<a data-icon="back" data-role="button" data-inline="true" data-rel="back">返回</a>
		<button type="submit" name="update" data-icon="check" data-theme="b" data-inline="true">更新</button>
	</div>
	</form>
