	<table class="ui-table table-stroke">
		<caption><h2>客户详细信息</h2></caption>
		<tbody>
		<tr>
			<th></th>
			<td></td>
			<th>序号</th>
			<td>{{ @person.pID }}</td>
			<th>来源</th>
			<td>{{ @person.from }}</td>
		</tr>
		<tr>
			<th>姓名</th>
			<td>{{ @person.name }}</td>
			<th>性别</th>
			<td><check if="{{ @person.gender!==NULL }}">{{ @person.gender?'男':'女' }}</check></td>
			<th>生日</th>
			<td>{{ @person.birthday }}</td>
		</tr>
		<tr>
			<th>手机</th>
			<td>{{ @person.mobile }}</td>
			<th>邮箱</th>
			<td>{{ @person.email }}</td>
			<th>办公</th>
			<td>{{ @person.workphone }}</td>
		</tr>
		<tr>
			<th>公司</th>
			<td>{{ @person.company }}</td>
			<th>职位</th>
			<td>{{ @person.position }}</td>
			<th>年收入</th>
			<td>{{ @person.income }}</td>
		</tr>
		<tr>
			<th>地址</th>
			<td colspan="5">{{ @person.address }}</td>
		</tr>
		</tbody>
	</table>
	<div id="back">
		<a data-icon="back" data-role="button" data-inline="true" data-rel="back">返回</a>
		<check if="{{ !(int)@person.parentID }}">
		<true><a href="/card/{{ @person.pID }}" data-icon="info" data-role="button" data-theme="b" data-inline="true">卡片详情</a></true>
		<false><a href="/card/{{ @person.parentID }}" data-icon="info" data-role="button" data-theme="b" data-inline="true">主卡片详情</a></false>
		</check>
	</div>
	<div id="operate">
		<a href="/client/edit/{{ @person.pID }}" data-icon="edit" data-role="button" data-theme="b" data-inline="true">编辑</a>
		<a href="#popupDelete" data-rel="popup" data-position-to="window" data-icon="delete" data-role="button" data-theme="e" data-inline="true"<check if="{{ @person.pID==@SESSION.PID }}"> class="ui-disabled"</check>>删除</a>
	</div>
	<div data-role="popup" id="popupDelete" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
		<div data-role="header" data-theme="a" class="ui-corner-top">
			<h1>删除客户？</h1>
		</div>
		<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
			<h2 class="ui-title">是否确定删除此客户？</h2>
			<p>删除后将不能恢复。</p>
			<a data-role="button" data-inline="true" data-rel="back" data-theme="c">取消</a>
			<a href="/client/del/{{ @person.pID }}" data-role="button" data-inline="true" data-transition="flow" data-theme="b">删除</a>
		</div>
	</div>