<table data-role="table" data-mode="reflow" class="team-activity table-stripe">
	<caption><h2>{{ @pageTitle }}</h2></caption>
	<thead>
		<tr class="th-groups">
			<th></th>
			<th colspan="3">{{ date('Y-m-d', strtotime('yesterday')) }} 昨日活动量</th>
			<th colspan="3">{{ date('Y-m-d') }} 今日活动量</th>
		</tr>
		<tr>
			<th>姓名</th>
			<th>新增淘金卡（张）</th>
			<th>新增见面记录（条）</th>
			<th>新客户（人）</th>
			<th>新增淘金卡（张）</th>
			<th>新增见面记录（条）</th>
			<th>新客户（人）</th>
		</tr>
	</thead>
	<tbody>
		<repeat group="{{ @members }}" value="{{ @member }}">
		<tr>
			<th>{{ @member.name }}</th>
			<td>{{ @member.act.yesterday.card }}</td>
			<td>{{ @member.act.yesterday.note }}</td>
			<td>{{ @member.act.yesterday.people }}</td>
			<td>{{ @member.act.today.card }}</td>
			<td>{{ @member.act.today.note }}</td>
			<td>{{ @member.act.today.people }}</td>
		</tr>
		</repeat>
	</tbody>
</table>