	<table data-role="table" class="table-list table-stroke">
		<caption><h2>{{ @pageTitle }}</h2></caption>
		<thead>
			<tr>
				<th data-priority="1">序号</th>
				<th>姓名</th>
				<th data-priority="2">手机</th>
				<th data-priority="3">建卡日期</th>
				<th data-priority="4">更新日期</th>
				<th data-priority="5">提醒日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @cards }}" value="{{ @card }}">
			<tr>
				<th>{{ @card.pID }}</th>
				<td class="title"><a href="/client/{{ @card.pID }}" data-transition="slideup">{{ @card.name }}</a></td>
				<td>{{ @card.mobile }}</td>
				<td>{{ substr(@card.create_time,0,10) }}</td>
				<td>{{ substr(@card.update_time,0,10) }}</td>
				<td>{{ substr(@card.next_time,0,10) }}</td>
				<td>
					<a href="/card/{{ @card.pID }}" data-role="button" class="ui-icon-alt" data-icon="info" data-inline="true" data-mini="true">卡片</a>
					<a href="/note/p/{{ @card.pID }}" data-role="button" class="ui-icon-alt" data-icon="arrow-r" data-transition="slide" data-inline="true" data-mini="true">接触记录</a>
				</td>
			</tr>
			</repeat>
		</tbody>
	</table>
