<form method="post">
    <table id="new-card" class="ui-table table-stroke">
        <caption><h2>{{ @pageTitle }}</h2></caption>
        <tbody>
            <tr>
                <th>客户简要资料</th>
                <td><span>姓名：</span><a href="/client/{{ @person.pID }}">{{ @person.name }}</a></td>
                <td><span>性别：</span><check if="{{ @person.gender!==NULL }}">{{ @person.gender?'男':'女' }}</check></td>
                <td><span>生日：</span>{{ @person.birthday }}</td>
                <td><span>手机：</span>{{ @person.mobile }}</td>
            </tr>
            <tr>
                <th>家庭成员信息</th>
                <td colspan="4">
                    <a href="#selectClient" data-rel="popup" data-role="button" data-inline="true" data-transition="slideup" data-icon="plus" data-theme="b" data-iconpos="right" data-mini="true">添加成员...</a>
                    <a href="#purchase" data-rel="popup" data-role="button" data-inline="true" data-position-to="window" data-transition="pop" data-icon="plus" data-iconpos="right" data-mini="true">新增</a>

                    <ul data-role="listview" id="familyMember" data-inset="true" data-split-icon="minus" data-split-theme="b">
                        <repeat group="{{ @family }}" value="{{ @member }}">
                        <li data-id="{{ @member.pID }}"><a href='/client/{{ @member.pID }}'>{{ @member.name }}</a><a href="javascript:remove({{ @member.pID }})">{{ @member.pID }}</a></li>
                        </repeat>
                    </ul>
                    <input type="hidden" name="family" value="" />
                </td>
            </tr>
            <tr>
                <th>关键信息备注</th>
                <td colspan="4"><textarea rows="20" name="memo"></textarea></td>
            </tr>
            <tr>
                <th>日期</th>
                <td colspan="4" class="ui-grid-b">
                    <div class="ui-block-a">建卡时间：<input type="date" name="create" value="{{ date("Y-m-d") }}" disabled="disabled"></div>
                    <div class="ui-block-b">更新时间：<input type="date" name="update" value="" disabled="disabled"></div>
                    <div class="ui-block-c">提醒时间：<input type="date" name="next" value=""></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a data-role="button" data-inline="true" data-icon="back" data-rel="back">返回</a>
        <button type="submit" name="{{@btnSubmit}}" data-icon="plus" data-theme="b" data-inline="true">添加</button>
    </div>
    <div data-role="popup" id="selectClient" data-theme="d">
        <ul data-role="listview" id="allClient" data-filter="true" data-filter-placeholder="客户搜索..." data-inset="true">
            <li data-role="divider" data-theme="e">选择客户：</li>
            <repeat group="{{ @people }}" value="{{ @person }}">
            <li data-icon="plus" data-id="{{ @person.pID }}"><a>{{ @person.name }}</a></li>
            </repeat>
        </ul>
    </div>
    <div data-role="popup" id="purchase" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
    <h3>Purchase Album?</h3>
    <p>Your download will begin immediately on your mobile device when you purchase.</p>
    <a href="index.html" data-role="button" data-rel="back" data-theme="b" data-icon="check" data-inline="true" data-mini="true">Buy: $10.99</a>
    <a href="index.html" data-role="button" data-rel="back" data-inline="true" data-mini="true">Cancel</a>
</div>
</form>