      <form class="form-login" method="post">
        <h2>请登录</h2>
        <check if="{{ isset(@msg) }}">
        <div class="alert alert-error">
          <strong>错误!</strong> {{ @msg }}
        </div>
		    </check>
        <input type="text" name="username" data-clear-btn="true" placeholder="电子邮件">
        <input type="password" name="password" data-clear-btn="true" placeholder="密码">
        <label>
          <input type="checkbox" name="autologin"> 一个星期内自动登录
        </label>
        <button type="submit" name="login" data-icon="grid" data-theme="b">登录</button>
        <span>测试请使用 abc/abc 登录系统。</span>
      </form>